html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image:url(https://image.freepik.com/vector-gratis/textura-gris-elegante_1100-152.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: 100%;
}
h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 520%;
    background-color: rgba(33, 194, 54, 0.6);
    border-radius: 30%;
}
.menu {
    border-color:rgb(138, 91, 39);
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.añadir {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
    border-color:rgb(138, 91, 39);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgb(230, 247, 4);
    color: black; 
}

.fecha, .descripcion {
    float: right;
}
.fechanews {
    font-size: 145%;
    background-color: rgba(15, 40, 179, 0.6);
    margin: 3%; 
}

.fecha  {
    padding: 0;
    padding-left: 0;
    width: 250px;
    margin-right: 0;
    margin-left: 10px;
}


.descripcion {
    width: calc(100% - 290px); 
	font-size: 16px;
}
.descripcionnews{
    text-align: justify;
    margin: 3%;
}


.well {
    background-color: transparent;
    text-align: center;
    border-color:transparent;
    border-radius: 70%;
    margin-top: 3px;
}
#navbar-1{
    background-color:#2E272E;	
	border:7px double #D4AF37;
    border-radius:5px;
    text-align: center;
    margin-left: -2%;
    font-family: Comic Sans MS;
}
#navbar-2{
    background-color:rgb(47, 224, 255);	
	border:7px double rgb(212, 55, 55);
    border-radius:5px;
    text-align: center;
    margin-left: -2%;
    font-family: Comic Sans MS;
}
#navbar-2 a{
    font-size: 120%;
}
.navbar{
    background-color: transparent;
    border: transparent;
    text-align: center;
}
.video{
    width: 100%;
    height: 60vh;
}

#add {   
    height: 600px;
    width: 300px;
    position: absolute;
    border: 0;
    margin-left: 1%;
    margin-top: 18%;
}
#addM {   
    height: 100px;
    width: 320px;
	overflow: hidden;
    border: 0; 
}
   
#addMContainer {   
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.descripcionnews .img-rounded{
    width: 100%
}

.tooltip > .tooltip-inner {
    background-color: rgba(160, 224, 88, 255);
    color: black; 
}
.tooltip.left > .tooltip-arrow {
    border-left: 5px solid rgba(160, 224, 88, 255);
}
#loadButtonContainer {
    text-align: center;
    margin-bottom: 1%;
   
   
}
#loadButton {
    background-color: rgb(89, 229, 229);
	border-color: rgb(139, 165, 97);
    color: black;
    border-radius: 20%;
   
}
#scroll{
    border:7px double rgb(112, 212, 55);
    background-color: rgb(0, 0, 0);
    height: 4.5vh;
    margin-left: 2%;
    margin-bottom: 2%;
}
.scroll{
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 968px){
	#home {
		display: none;
	}
	#addMContainer {
		display: none;	
	}  
}
@media screen and (max-width: 968px){

	#add {
		display: none;	
    } 
    #loadButtonContainer {
        margin-bottom: 17%;
    }
    
}
@media screen and (max-width:1200px){

	#navbar-1{
        font-size: 65%;
    }
    #navbar-2{
        font-size: 65%;
    } 
    
}
@media screen and (max-width: 767px){
    
	#addMContainer {
        display:block;	
    }
    .navbar-default .navbar-brand {
        color: rgb(156, 27, 189);
    }
    #loadButtonContainer {
        margin-bottom: 20%;
    }
   
    
}
@media screen and (max-width: 600px){
    .fecha{
        margin-right: 18%;
        margin-left: 0%;
    }
    .descripcion{
        width: auto;
        text-align: center;
    } 
    #loadButtonContainer {
        margin-bottom: 26%;
    }
   
   
    
}
@media screen and (max-width:450px){
    .fecha{
        margin-right: 0%;
        margin-left: 0%;
    }
    .img-rounded{
        width: 200px;
        margin-right: 3%;
    }
    .descripcionnews .img-rounded{
        margin-left: 0;
    }
    h1{
        font-size: 500%;
    }
    .navbar-default .navbar-brand {
        font-size: 90%;
    }
    .video{
        height: 40vh;
    }
    #loadButtonContainer {
        margin-bottom: 36%;
    }
}
@media screen and (max-width:340px){
    .navbar-default .navbar-brand {
        font-size: 60%;
    }
    h1{
        font-size: 400%;
    }
    .img-rounded{
        margin-left: 11%;
    }
    .video{
        height: 25vh;
    }
    #loadButtonContainer {
        margin-bottom: 40%;
    }
}

