html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image:url(https://image.freepik.com/vector-gratis/textura-gris-elegante_1100-152.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: 100%;
}
.h1 {
    text-align: center;
}
.menu {
    border-color:rgb(138, 91, 39);
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.añadir {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
    border-color:rgb(138, 91, 39);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgb(230, 247, 4);
    color: black; 
}

.fecha, .descripcion {
    float: right;
}

.fecha  {
    padding: 0;
    padding-left: 0;
    width: 250px;
    margin-right: 0;
    margin-left: 10px;
}

.añadirimagen {
    margin-top: -5px;
    margin-bottom: 2px;
}

.descripcion {
    width: calc(100% - 290px); 
	font-size: 16px;
}

#cargando {
	text-align: center;
}

#vermasboton {
	background-color: rgba(175, 229, 89, 1); 
	border-color: rgba(175, 229, 89, 1);
	color: black;
}
.well {
    background-color: transparent;
    text-align: center;
    border-color:transparent;
    border-radius: 70%;
    margin-top: 3px;
}
#navbar-1{
    background-color: gold;
    padding: 1%;
    background-color:#2E272E;	
    padding-bottom: 15px;
	border:7px double #D4AF37;
    border-radius:5px;
    font-family: Comic Sans MS;
}
#navbar-1 li{
    color: gray;
    margin-left: 8px;
   
}
#navbar-2{
    padding: 1%;
    margin-right: 40px;

}
.navbar{
    background-color: transparent;
    border: transparent;
    text-align: center;
}
.navbar-default .navbar-brand {
    color:transparent;
    padding-right: 8%;
}
#navbar-2 a{
    margin-left: 4%;
    color: aquamarine;
}
#add {   
    height: 600px;
    width: 300px;
    position: absolute;
    border: 0;
    margin-left: 200px;
    margin-top: 200px;
}
#addM {   
    height: 100px;
    width: 320px;
	overflow: hidden;
    border: 0;
}
#addMContainer {   
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 968px){
	#home {
		display: none;
	}
	#addMContainer {
		display: none;	
	}  
}
